<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructors List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/list-instructors.css">

</head>
<body>
<div class="container my-5">
    <h1>Instructors List</h1>
    <div class="row">
        <th:block th:each="instructor : ${instructors}">
            <div class="col-md-4 mb-4">
                <div class="instructor-card card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${instructor.firstName} + ' ' + ${instructor.lastName}"></h5>
                        <p class="card-text">
                            <strong class="highlight">Email:</strong> <span th:text="${instructor.email}"></span><br>
                            <strong class="highlight">Birth Date:</strong> <span th:text="${instructor.birthDate}"></span><br>
                            <strong class="highlight">Address:</strong> <span th:text="${instructor.address.street} + ', ' + ${instructor.address.city} + ', ' + ${instructor.address.state}"></span><br>
                            <strong class="highlight">Course:</strong> <span th:text="${instructor.course.name}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
