.dropdown-menu {
    background-color: #343a40;
    border: none;
}

.dropdown-header {
    color: #fff;
    font-weight: bold;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #495057;
    color: #fff;
}

.dropdown-divider {
    background-color: #6c757d;
}
